.login {
	margin: 0 auto;
	box-sizing: content-box;
	width: 400px;
	height: 400px;
	padding: 30px;
	border: 1px solid black;
	border-radius: 25px;
	text-align: center;
        background-color:lightyellow;
        
}
.signup{
margin:0 auto;
box-sizing: content-box; 
width: 555px;
height: 555px;
padding: 30px;  
border: 1px solid black;
border-radius: 25px;
background-color:lightyellow;
}
#mainheading{
	text-align:center;
}
.forgotpass{
	margin: 0 auto;
	box-sizing: content-box;
	width: 450px;
	height: 300px;
	padding: 30px;
	border: 1px solid black;
	border-radius: 25px;
	text-align: center;
        background-color:lightyellow;
}
input[type=text]:focus {

  background-color: #f1f1f1;
}
textarea:focus {

  background-color: #f1f1f1;
}
select {
  width: 43%;
  height:6%;
  padding: 10px 10px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}